{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<h2 style="text-align: center; margin: 20px;">All Posts</h2>
{% if user.is_authenticated %}
    <div id="newPostView">
        <h3>New Post</h3>
        <form id="new_post_form">
            <textarea autofocus=true id='content' class='formfield'></textarea>
            <input id="submit" class="btn btn-primary" type="submit" value="Post">
        </form>
    </div>
{% endif %}

<div id="posts">
</div>
<button id="previous_page" class="btn btn-primary">Previous Page</button>
<button id="next_page" class="btn btn-primary">Next Page</button>
{% endif %}
{% endblock %}

{% block style %}
<style>
    #content_area{
        padding: 10px;
        color:white; 
        background-color:#21262c; 
        border: 0.5px solid #626262;
        border-radius: 10px;
        margin-top: 5px;
        width: 100%;
    }

    body{
        background-color: rgb(17, 17, 34);
        color: white;
    }
    #posts{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #post_div{
        background-color: #15181c;
        margin: 10px;
        border: 1px solid #626262;
        border-radius: 10px;
        padding: 20px;
    }
    #username{
        display: inline-block;
        width: 10%;
        font-size: 1.6em;
    }
    #username:hover{
        font-size: 1.6em;
        cursor: pointer;
        text-decoration: underline;
    }
    #timestamp{
        font-size: 0.9em;
        margin-left: 82%;
    }
    #new_post_form{
        display: flex;
    }
    #newPostView{
        background-color: #15181c;
        padding: 20px;
        border: 1px solid #626262;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 20px;
    }
    .formfield{
        font-size: 1.2em;
        color: white;
        outline: none;
        border: 1px solid #626262;
        border-radius: 5px;
        background-color: #21262c;
        width: 100%;
    }
    #submit{
        padding: 5px;
        border-radius: 10px;
        margin-top: 60px;
        margin-left: 5px;
    }
    #like_button{
        padding: 5px;
        color: white;
        border: 1px solid #626262;
        border-radius: 10px;
        background-color: #21262c;
    }
    #like_button:hover{
        color: rgb(219, 65, 65);
    }
    #like_button:focus{
        outline: none;
    }
    #edit_btn{
        color: #007bff;
        background-color: transparent;
        border-style: none;
        margin-left: 81%;
        font-size: 1em;
        padding: 3px;
    }
    #edit_btn:hover{
        text-decoration: underline;
    }
    #previous_page{
        margin-left: 63%;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    #next_page{
        display:inline-block;
        margin-bottom: 20px;
        margin-top: 10px;
    }
</style>

{% endblock %}



{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}