{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h2 style="margin: 20px;">All Posts</h2>
{% if user.is_authenticated %}
    <div id="newPostView">
        <h3>New Post</h3>
        <form id="new_post_form">
            <textarea id='content' class='formfield'></textarea>
            <input id="submit" type="submit" value="Post">
        </form>
    </div>
{% endif %}

<div id="posts">
</div>

{% endblock %}

{% block style %}
    <style>
        
        body{
            background-color: #242424;
            color: white;
        }
        #posts{
            margin: 20px;
        }
        #new_post_form{
            display: flex;
        }
        #newPostView{
            padding: 20px;
            border: 1px solid #626262;
            margin: 30px;
        }
        .formfield{
            font-size: 1.2em;
            color: white;
            outline: none;
            border: 1px solid #626262;
            background-color: #4a4a4a;
            width: 600px;
            height: 100px;
        }
        #submit{
            color: white;
            padding: 5px;
            background-color: #4d90fe;
            border:1px solid #4d90fe; 
            border-radius: 10px;
            margin-top: 60px;
            margin-left: 5px;
            
        }
    </style>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}