{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h2 id="user_profile" style="text-align: center; margin: 20px;">{{profile_user}}</h2>
{% if user == profile_user %}
<div id="alt_info">
    <div>followers: {{profile_user.followers.count}}</div>
    <div>following: {{profile_user.following.count}}</div>
</div>
{% else %}
<div id="info"></div>
{% endif %}
<h2 style="text-align: center; margin: 20px;">Latest posts from {{profile_user}}</h2>
<div id="user_posts"></div>
<button id="previous_page" class="btn btn-primary">Previous Page</button>
<button id="next_page" class="btn btn-primary">Next Page</button>
{% endblock %}
{% block style %}
<style>
    body{
        background-color: rgb(17, 17, 34);
        color: white;
    }
    #info , #alt_info{
        background-color: #21262c;
        border: 1px solid #626262;
        border-radius: 20px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 100%;
    }
    #follow_btn{
        padding: 5px;
        color: white;
        border: 0.5px solid #626262;
        border-radius: 10px;
        background-color: rgb(17, 17, 34);
    }
    #followers_div{
        display: inline-block;
    }
    #user_posts{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #post_div{
        background-color: #15181c;
        margin: 10px;
        border: 1px solid #626262;
        border-radius: 10px;
        padding: 20px;
    }
    #username{
        font-size: 1.6em;
    }
    #username:hover{
        font-size: 1.6em;
        cursor: pointer;
        text-decoration: underline;
    }
    #timestamp{
        font-size: 0.9em;
        margin-left: 82%;
    }
    #content_area{
        padding: 10px;
        color:white; 
        background-color:#21262c; 
        border: 0.5px solid #626262;
        border-radius: 10px;
        margin-top: 5px;
        width: 100%;
    }
    #like_button{
        padding: 5px;
        color: white;
        border: 1px solid #626262;
        border-radius: 10px;
        background-color: #21262c;
    }
    #like_button:hover{
        color: rgb(219, 65, 65);
    }
    #like_button:focus{
        outline: none;
    }
    #previous_page{
        margin-left: 63%;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    #next_page{
        display:inline-block;
        margin-bottom: 20px;
        margin-top: 10px;
    }
</style>

{% endblock %}
{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}